$font-family: Lucida, Helvetica, sans-serif;
$font-default: 16px;
// Colors

$rock-blue: #96abc8;
$cinder: #020203;
$red-orange: #fb2b2c;
$chalky: #f0c992;
$antique-brass: #cb785f;
$dark-tan: #cb785f;
$white: #ffffff;
$corduroy: #5d5e5e;

$radius-sm: 5px;
$radius-lg: 18px;

$default-box-shadow: 0 5px 21px rgba(0, 0, 0, 0.1);
